/* TOP BAR */
.topbar {
    background: #111;
    color: white;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
}

/* NAVIGATION */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    font-family: "Playfair Display", serif;
}

/* MENU BUTTONS */
.menu {
    display: flex;
    gap: 20px;
}

.nav-btn {
    padding: 8px 18px;
    border: 1px solid transparent;
    border-radius: 30px;
    font-size: 15px;
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

.nav-btn:hover {
    border-color: black;
    background: black;
    color: white;
}

/* NAV LOGO */
.logo {
    font-size: 22px;
    font-weight: 600;
}

/* ICONS */
.icons .material-symbols-rounded {
    font-size: 24px;
    color: black;
    margin-left: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.icons .material-symbols-rounded:hover {
    opacity: 0.9;
}

/* HERO AREA */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 50px;
}

.hero-text h1 {
    font-size: 70px;
    line-height: 1.1;
}

.hero-btn {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 28px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
}
.hero-text p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.hero-image img {
    width: 450px;
    border-radius: 10px;
}
/* DROPDOWN WRAPPER */
.dropdown {
    position: relative;
    display: inline-block;
}

/* BUTTON STYLE (same as your nav buttons) */
.nav-btn {
    padding: 8px 18px;
    border-radius: 25px;
    border: 1px solid transparent;
    text-decoration: none;
    color: #111;
    transition: 0.3s;
}

/* Hover effect for menu button */
.nav-btn:hover {
    background: #111;
    color: white;
}

/* DROPDOWN BOX */
.dropdown-content {
    display: none;   
    position: absolute;
    top: 45px;
    left: 0;
    background: white;
    min-width: 180px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.12);
    border-radius: 10px;
    padding: 10px 0;
    z-index: 200;
}

/* LINKS INSIDE DROPDOWN */
.dropdown-content a {
    display: block;
    padding: 10px 20px;
    color: #111;
    text-decoration: none;
    font-size: 15px;
}

.dropdown-content a:hover {
    background: #111;
    color: white;
}

/* SHOW DROPDOWN ON HOVER */
.dropdown:hover .dropdown-content {
    display: block;
}
.credit {
    position: fixed;
    bottom: 15px;
    right: 20px;
    font-size: 14px;
    color: #444;
    font-family: "Playfair Display", serif;
    opacity: 0.8;

    /*Transparent black bottom border */
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding-bottom: 3px;
}


.credit:hover {
    opacity: 10;
}

